@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css');
@import url('https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css');

.table-content-1,
.table-content-2 {
  margin-top: 10px;
}

.table-content-2 {
  width: 670px;
}

.main-content {
  display: flex;
  justify-content: center;
}

.table {
  border: 1px solid #000;
  border-radius: 5px;
}

.page-item.active .page-link {
  background-color: #000;
  border-color: #000;
  border-radius: 4px;
}

.page-link {
  color: #000;
}

.page-link:hover {
  color: #000;
}

.page-link:focus {
  color: #000;
  box-shadow: none;
}

.disabled {
  cursor: not-allowed;
}

.btn-graphe button {
  margin-bottom: 20px;
  border: 1px solid #000;
  border-radius: 4px;
  padding: 0;
  transition: all 0.2s ease-in-out;
}

.btn-graphe button:hover {
  background: #000;
}

.btn-graphe button a:hover {
  color: #fff;
}

.btn-graphe button a {
  text-decoration: none;
  padding: 0 10px;
  color: #000;
  transition: all 0.2s ease-in-out;
}
