<%- include('./index') %>
<div id="graphe2" style="width: 1500px; height: 170vh"></div>
<script type="text/javascript">
  $.get('http://localhost:8080/api/alarms3', function (data) {
    const date = [];
    const SAEvalue = [];
    const BLOCKvalue = [];
    const CNTRTYPvalue = [];
    const NIvalue = [];
    const NIUvalue = [];
    const NIEvalue = [];
    const NIRvalue = [];
    for (let i = 0; i < data.length; i++) {
      let d = data[i];
      date.push(d.dateCreate);
      SAEvalue.push(d.SAE);
      BLOCKvalue.push(d.BLOCK);
      CNTRTYPvalue.push(d.CNTRTYP);
      NIvalue.push(d.NI);
      NIUvalue.push(d.NIU);
      NIEvalue.push(d.NIE);
      NIRvalue.push(d.NIR);

      var myChart = echarts.init(document.getElementById('graphe2'));
      var option;

      const dataX = date;

      const dateList = dataX.map(function (item) {
        return item;
      });

      const dataSAE = SAEvalue.map(function (item) {
        return item;
      });

      const dataBLOCK = BLOCKvalue.map(function (item) {
        return item;
      });

      const dataCNTRTYP = CNTRTYPvalue.map(function (item) {
        return item;
      });

      const dataNI = NIvalue.map(function (item) {
        return item;
      });

      const dataNIU = NIUvalue.map(function (item) {
        return item;
      });

      const dataNIE = NIEvalue.map(function (item) {
        return item;
      });

      const dataNIR = NIRvalue.map(function (item) {
        return item;
      });

      option = {
        title: [
          {
            top: '20px',
            left: '7%',
            text: 'SAE',
          },
          {
            top: '20px',
            right: '7%',
            text: 'BLOCK',
          },
          {
            top: '300px',
            left: '7%',
            text: 'OFFDO',
          },
          {
            top: '300px',
            right: '7%',
            text: 'OFFDI',
          },
          {
            top: '600px',
            left: '7%',
            text: 'FTCHDO',
          },
          {
            top: '600px',
            right: '7%',
            text: 'FTCHDI',
          },
          {
            top: '900px',
            left: '7%',
            text: 'OFFMPH',
          },
        ],

        toolbox: {
          feature: {
            saveAsImage: {},
          },
        },

        tooltip: {
          trigger: 'axis',
        },

        xAxis: [
          {
            data: dateList,
          },
          {
            data: dateList,
            gridIndex: 1,
          },
          {
            data: dateList,
            gridIndex: 2,
          },
          {
            data: dateList,
            gridIndex: 3,
          },
          {
            data: dateList,
            gridIndex: 4,
          },
          {
            data: dateList,
            gridIndex: 5,
          },
          {
            data: dateList,
            gridIndex: 6,
          },
        ],

        xAxis: [
          { gridIndex: 0, data: dateList },
          { gridIndex: 1, data: dateList },
          { gridIndex: 2, data: dateList },
          { gridIndex: 3, data: dateList },
          { gridIndex: 4, data: dateList },
          { gridIndex: 5, data: dateList },
          { gridIndex: 6, data: dateList },
        ],

        yAxis: [
          { gridIndex: 0 },
          { gridIndex: 1 },
          { gridIndex: 2 },
          { gridIndex: 3 },
          { gridIndex: 4 },
          { gridIndex: 5 },
          { gridIndex: 6 },
        ],

        grid: [
          { left: '7%', top: '60px', width: '38%', height: '200px' },
          { right: '7%', top: '60px', width: '38%', height: '200px' },
          { left: '7%', top: '340px', width: '38%', height: '200px' },
          { right: '7%', top: '340px', width: '38%', height: '200px' },
          { left: '7%', top: '640px', width: '38%', height: '200px' },
          { right: '7%', top: '640px', width: '38%', height: '200px' },
          { left: '7%', top: '940px', width: '38%', height: '200px' },
        ],

        series: [
          {
            name: 'Data SAE',
            type: 'line',
            showSymbol: false,
            itemStyle: { color: 'rgba(58,77,233,0.8)' },
            areaStyle: { color: 'rgba(58,77,233,0.3)' },
            data: dataSAE,
          },
          {
            name: 'Data BLOCK',
            type: 'line',
            showSymbol: false,
            itemStyle: { color: 'rgba(58,77,233,0.8)' },
            areaStyle: { color: 'rgba(58,77,233,0.3)' },
            xAxisIndex: 1,
            yAxisIndex: 1,
            data: dataBLOCK,
            dataCNTRTYP,
          },
          {
            name: 'Data CNTRTYP',
            type: 'line',
            showSymbol: false,
            itemStyle: { color: 'rgba(58,77,233,0.8)' },
            areaStyle: { color: 'rgba(58,77,233,0.3)' },
            xAxisIndex: 2,
            yAxisIndex: 2,
            data: dataCNTRTYP,
          },
          {
            name: 'Data NI',
            type: 'line',
            showSymbol: false,
            itemStyle: { color: 'rgba(58,77,233,0.8)' },
            areaStyle: { color: 'rgba(58,77,233,0.3)' },
            xAxisIndex: 3,
            yAxisIndex: 3,
            data: dataNI,
          },
          {
            name: 'Data NIU',
            type: 'line',
            showSymbol: false,
            itemStyle: { color: 'rgba(58,77,233,0.8)' },
            areaStyle: { color: 'rgba(58,77,233,0.3)' },
            xAxisIndex: 4,
            yAxisIndex: 4,
            data: dataNIU,
          },
          {
            name: 'Data NIE',
            type: 'line',
            showSymbol: false,
            itemStyle: { color: 'rgba(58,77,233,0.8)' },
            areaStyle: { color: 'rgba(58,77,233,0.3)' },
            xAxisIndex: 5,
            yAxisIndex: 5,
            data: dataNIE,
          },
          {
            name: 'Data NIR',
            type: 'line',
            showSymbol: false,
            itemStyle: { color: 'rgba(58,77,233,0.8)' },
            areaStyle: { color: 'rgba(58,77,233,0.3)' },
            xAxisIndex: 6,
            yAxisIndex: 6,
            data: dataNIR,
          },
        ],
      };

      option && myChart.setOption(option);
    }
  });
</script>
